<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div>
        <h1 class="text-center mb-4">List of Students</h1>

        <table class="table table-bordered table-striped text-center">
            <thead>
                <tr>
                    <th>Sr. No</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>can Vote</th>
                </tr>
            </thead>
            <tbody>
                {% for people in peoples %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ people.Name }}</td>
                    <td>{{ people.Age }}</td>
                    <td {% if people.Age < 18 %} style="background-color: red;" {% endif %}> 
                      {% if people.Age >= 18 %}
                      👍
                      {% else %}
                      👎
                      {% endif %}
                  </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>
